body {
    color: #FFFFFF;
    background-color: #0c3c60;
}

a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

header {
    background-color: #000;
}

section {
    background-color: #FFF;
}

footer {

    background-color: #000;
}