body {
    color: #FFFFFF;
    background-color: #0c3c60;
}

header {
    background-color: #000;
}

section {
    background-color: #FFF;
}

footer {

    background-color: #000;
}

/*------Navigation Bar------*/

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

header nav ul li {
    float: left;
}

header nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
header nav ul li a:hover {
    background-color: #111;
}