/* Reset styles so the style I choose is 100% on purpose */

body, p, h1, h2, h3, h4, h5, h6{
	padding: 0;
	margin: 0;
}

/* box model fix for IE */
* {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; 
	box-sizing: border-box;
}


